body {
    overflow-y: hidden !important;
}

.container-login100 {
    /* background-image: url("../images/main-home-img-6.jpg") !important; */
    background-image: url("../images/home1-blog-1.jpg") !important;
    /* background-image: url("../images/blog-4-450x267.jpg") !important; */
    background-position: center !important;
    background-size: cover !important;
    padding: 0;
}

.container-login100::before {
    background-color: #00000029 !important;
}

.login100-form-title img {
    width: 286px !important;
}