$yellow-primary: #C04848;
$black-title :#0c4873;
$grey-primary: #666;
$grey-light: #999;
$green-color: #63c76a;
$pink-color: #ff4b5a;
$grey-background: #f2f2f2;
$blue-primary: #C04848;
$green-light: #62d8b6;
$violet-color: #8058bd;